<!DOCTYPE html >
<html  class="html" lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advice</title>
  </head>
  <body>
    <div class="tela">
      <div class="conteudo">
        <h1>Advice</h1>
        <h3 id="advice">{{advice?.slip?.advice}}</h3>
        <button class="btn" (click)="randomAdvice()">ask for advice</button>
      </div>
    </div>
  </body>
</html>